@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
.header {
    width: 100%;
    height: 100px;
    background: #9ACAA1;
    color: #214326;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title i {
    margin-left: 15px;
    font-size: 2.5rem;
}
main {
    height: 100vh;
    width: 100%;
}
.exam-text {
    width: 50%;
    margin: 50px auto;
    font-size: 1.2rem;
    color: #2a2a2a;
}
.exam-text-message {
    display: flex;
    justify-content: space-between;
}
.main-exam-text {
    font-size: 1.5rem;
    background: #f4f4f4;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #214326;
}
.language-btn button{
    padding: 3px 10px;
    color: #214326;
    background: #9ACAA1;
    border: none;
    outline: none;
    font-size: 0.9rem;
}
.language-btn button:nth-child(1) {
    padding: 3px 15px;
}
.typing-box {
    width: 50%;
    height: 150px;
    margin: 0 auto;
    box-shadow: 1px 1px 3px #214326, -1px -1px 3px #214326;
    border: 3px solid #214326;
}
.input-typingText {
    width: 95%;
    height: 120px;
    border: none;
    outline: none;
    caret-color: #214326;
    font-size: 1.3rem;
    margin: 10px;
}
.inner-time {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    margin: 40px auto;
    justify-content: space-around;
    font-size: 2.5rem;
    font-weight: bold;
}
.inner-time button {
    font-size: 1rem;
    padding: 0 15px;
    color: #fff;
    background: #214326;
    border: none;
    font-weight: bold;
}